<!DOCTYPE html>
<html>
  <head>
    <title>Calculation</title>
    <meta charset="UTF-8" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Cascades" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link id="favicon" rel="icon" href="/img/suits.png" />
    <meta
      name="viewport"
      content="width=1000, initial-scale=0.5, maximum-scale=1, user-scalable=yes, minimal-ui"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/98.css" />
    <link rel="stylesheet" href="/css/calculation.css" />
  </head>
  <body>
    <!-- <script src="js/bundle.min.js"></script> -->
    <script src="js/libs/utils.js"></script>
    <script src="js/libs/dnd.js"></script>
    <script src="js/libs/mithril.js"></script>
    <script src="js/calculation.js"></script>
  </body>
</html>
