<!DOCTYPE html>
<html>
  <head>
    <title>Cascades</title>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Cascades" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta
      name="viewport"
      content="width=1000, initial-scale=0.5, maximum-scale=1, user-scalable=yes, minimal-ui"
    />
    <link rel="icon" type="image/png" href="css/favicon.png" />
    <link rel="stylesheet" href="../css/cascades.css" />
  </head>
  <body>
    <script src="js/libs/mithril_0.2.3.js"></script>
    <script src="js/cascades.js"></script>
  </body>
</html>
